In [1]:
#import libraries
import requests
import json
import pandas as pd

In [2]:
url = "https://api.withmono.com/accounts/6387003a771d781b3e0d8c19/transactions"
params = {"paginate": "false"}  
headers = {
    "Accept": "application/json",
    "mono-sec-key": "live_sk_CA7jLNrlfqEDOy30yLZi"
}

response = requests.get(url, headers=headers, params=params)
data_json = response.json()

In [3]:
response.status_code

200

In [4]:
df = pd.DataFrame().from_dict(data_json["data"]).set_index("_id")
df

,type,narration,amount,balance,date,currency
_id,,,,,,
6387003f771d781b3e0d8c35,credit,SPEND AND SAVE - Kuda,20000,None,2022-11-29T10:02:47.000Z,NGN
6387003f771d781b3e0d8c31,debit,BOLUWATIFE AJISAFE - Wema Bank,100000,None,2022-11-29T14:41:12.000Z,NGN
6387003f771d781b3e0d8c34,debit,EKEDC NG Payment - EKEDC NG,110000,None,2022-11-29T10:03:21.000Z,NGN
6387003f771d781b3e0d8c38,debit,SPEND AND SAVE - Kuda,3000,None,2022-11-27T11:52:54.000Z,NGN
6387003f771d781b3e0d8c39,debit,OLUWASEUN DAVID AROWOLO - Access Bank,300000,None,2022-11-27T11:52:54.000Z,NGN
...,...,...,...,...,...,...
6387003f771d781b3e0d8f75,debit,OLADIPO ADEOYE ABIODUN - GTBank Plc,1000000,None,2020-06-30T09:12:32.290Z,NGN
6387003f771d781b3e0d8f7a,credit,mastercard**** **** **** 5971 - Polaris Bank,700000,None,2020-06-25T09:00:49.890Z,NGN
6387003f771d781b3e0d8f7c,credit,mastercard**** **** **** 5971 - Polaris Bank,500000,None,2020-06-24T14:59:32.577Z,NGN
6387003f771d781b3e0d8f80,debit,GLO 2348052522359 - GLO,10000,None,2020-06-17T17:37:46.557Z,NGN
6387003f771d781b3e0d8f81,debit,GLO 2348052522359 - GLO,10000,None,2020-06-16T21:09:10.973Z,NGN